# 
# Copyright (c) 2026 Lukenar11 (Luke Matthes)
# MIT Licensed
# https://github.com/Lukenar11/MoleculeOS/blob/main/LICENSE
# 

set timeout=0
set default=0

menuentry "MoleculeOS" {
    multiboot /boot/kernel.elf
    boot
}
