# Assembly
*.asm linguist-detectable=true
*.s   linguist-detectable=true
*.S   linguist-detectable=true

# C++
*.cpp linguist-detectable=true
*.hpp linguist-detectable=true
*.h   linguist-detectable=true
*.cc  linguist-detectable=true
*.hh  linguist-detectable=true

# Linker Script
*.ld linguist-detectable=true

# Makefile
Makefile linguist-detectable=true

# end of line
* text eol=lf

# png`s
*.png binary
*.png -text
